####################################
# Dependencies
####################################

node_modules/

####################################
# Environment
####################################

.env

####################################
# Logs
####################################

*.log
npm-debug.log*

####################################
# OS Files
####################################

.DS_Store
Thumbs.db

####################################
# IDE
####################################

.vscode/

####################################
# Coverage
####################################

coverage/